@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: white;
}

ul {
  list-style: none;
}

a {
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
  transition: 0.3s;
}

span { 
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  transition: 0.3s;
}

p {
  color: #949494;
  font-size: 0.8em;
  line-height: 30px;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.3em;
  line-height: 1.3em;
}

main {
  padding: var(--spacing);
  background: #fff;
  margin-top: 70px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-block;
}

.nav__logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align the image vertically */
}

.nav__close,
.nav__toggle {
  display: flex;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__logo img {
    margin-top: 10px;
  }

  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
    z-index: 9; /* Ensure it covers other content */
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: 0.5s;
  }
}

.nav__list,
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: black;
  font-size: 20px;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.8s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav__link span {
  position: relative;
  transition: margin 0.4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width 0.4s ease-out;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.nav__social-link:hover {
  transform: translateY(-0.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}

/* main {
  padding-top: calc(var(--header-height) + 40px); 
} */

.header-body {
  display: grid;
  grid-template-columns: 1fr 1fr 3em;
  justify-content: center;
  align-content: center;
}

.header-body > div {
  margin: 0 var(--spacing);
}

.slider img {
  width: 100%;
  height: 100%;
}

.slider {
  position: relative; 
}

.overlay {
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: slide3;
  z-index: 0;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text > div {
  max-width: 27em;
}

.text p {
  background-image: linear-gradient(0deg, var(--accent), var(--accent));
  background-repeat: no-repeat;
  background-size: 3px 100%;
  padding-left: var(--spacing);
  background-position: 0 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social li {
  margin: 1.5em 0;
  writing-mode: vertical-rl;
  font-weight: 700;
}

.header-bottom {
  margin: var(--spacing) 0 0 0;
}

.active {
  color: var(--accent);
  background-image: linear-gradient(0deg, var(--accent), var(--accent));
}

.controls span {
  margin: 0 0.5em;
}

@media screen and (max-width: 1000px) {
  .menu-btn {
    display: block;
  }
  nav .menu {
    background: #fff;
    position: absolute;
    left: 0;
    top: 5em;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    overflow: hidden;
    z-index: 9;
  }
  /*Open Class For Javascript Toggle*/
  nav .menu-open {
    opacity: 1;
    height: 85%;
    overflow: visible;
  }
  nav .menu li {
    margin: 1em 0;
  }
  form:not(.form-mobile) {
    display: none;
  }
  .form-mobile {
    display: block;
    margin-top: 1.6em;
  }
}

@media screen and (max-width: 850px) {
  main {
    height: initial;
  }
  .header-body  {
    grid-template-columns: 1fr;
  }
  .header-body > div:not(.slider) {
    margin: var(--spacing) 0;
  }
  .slider {
    margin: var(--spacing) 0;
  }
  .pagination {
    display: none;
  }
  .social {
    flex-direction: row;
    margin-top: 15px;
  }
  .social li {
    margin: 0 1.5em;
    writing-mode: initial;
  }
}

@media screen and (max-height: 430px) {
  main .menu-open {
    height: 600px;
  }
}

/*Animations*/
@keyframes slide1 {
  0% { height: 0; }
  100% { height: 70%; }
}

@keyframes slide2 {
  0% { height: 0; }
  100% { height: 12em; }
}

@keyframes slide3 {
  0% { height: 100%; }
  100% { height: 0; }
}
